@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 94%;
  margin: 0 auto;
  box-sizing: border-box;
}

/*=================================
  main styling starts here
=================================*/
.wrapper {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  background-color: #cbe4e1;
}

.data {
  width: 65%;
  box-sizing: border-box;
  padding: 18px 38px;
}

/* addData styling starts here */
h1 {
  color: #8f0201;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 2px;
}

.addData {
  box-sizing: border-box;
  padding: 20px 30px;
  margin-top: 20px;
  background: #fff;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

label {
  margin-right: 10px;
  color: #666;
  font-size: 20px;
}

input {
  width: 50%;
  padding: 8px;
  border: 1px solid #dfdfdf;
  outline: none;
}

#addBtn,
#clear {
  padding: 8px 45px;
  margin-left: auto;
  border: none;
  background: #8dc73f;
  color: #fff;
  font-size: 16px;
  outline: none;
  transition: .5s ease;
}

#addBtn:hover,
#clear:hover {
  background: #6e9c30;
}

.list {
  padding: 10px 15px;
  margin-top: 40px;
  background: #fff;
}

h2 {
  color: #666;
  font-size: 24px;
}
/* addData styling ends here */

/* table styling starts here */
.list table {
  width: 96%;
  margin: 15px auto 50px auto;
  border-collapse: collapse;
}

tr.heading th {
  padding: 8px 12px;
  background: #cfcfcf;
  font-size: 18px;
}

tr.heading th:first-child,
tr td:first-child {
  text-align: left;
}

tr {
  width: 100%;
  text-align: center;
}

tr td:first-child { width: 45%; }

tr td {
  padding: 10px;
  border: 1px solid #cfcfcf;
}

.sorry {
  width: 100%;
  border: 1px solid #cfcfcf;
}

.sorry td { border: none; }

#modify,
#remove { font-size: 0; }

#modify::after {
  content: '\f303';
  color: #8dc73f;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 20px;
  transition: .5s ease;
}

#remove::after {
  content: '\f2ed';
  color: #bd1f1f;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 20px;
  transition: .5s ease;
}

#modify:hover::after { color: #3a5319; } 
#remove:hover::after { color: #e28282; } 
/* table styling ends here */

/* clearBtn styling starts here */
.clear { margin-top: 25px; }

.clear span {
  margin-left: 10px;
  color: #666;
  font-weight: 500;
  font-size: 15px;
}
/* clearBtn styling ends here */

/* image styling starts here */
.image {
  width: 35%;
  margin: auto;
}

img {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.none { display: none; }
/* image styling ends here */

/*=================================
  main styling ends here
=================================*/

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  .data {
    width: 75%;
    padding: 20px;
  }

  .image { width: 25%; }
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .wrapper { flex-direction: column-reverse; }

  .data,
  .image {
    width: 100%;
    margin-top: 30px;
  }
  
  img { width: 50%; }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  form {
    flex-direction: column;
    align-items: flex-start;
  }

  form div { margin: 10px 0; }
  #addBtn { margin: 15px 0 0 0; }

  /* remove hover effects */
  #addBtn:hover,
  #clear:hover {
    background: #8dc73f;
  }

  #modify:hover::after { color: #8dc73f; }
  #remove:hover::after { color: #e28282; }
}

/*media query for 320px starts here*/
@media only screen and (max-width: 320px) {
  .wrapper { width: 98%; }
  
  .data,
  .addData,
  .list {
    width: 100%;
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
  }

  h1 { font-size: 24px; }
  h2 { font-size: 16px; }
  .list { padding: 0; }

  .list table {
    width: 96%;
    padding: 0;
    margin: 15px auto 40px auto;
    border-collapse: collapse;
  }
  
  tr.heading th {
    padding: 8px;
    font-size: 14px;
  }
  
  tr td {
    padding: 10px;
    border: 1px solid #cfcfcf;
    font-size: 12px;
  }

  #modify::after,
  #remove::after { font-size: 16px; }
  .clear span { font-size: 14px; }
}